html,
body {
  font-family: Arial, sans-serif;
  background-color: var(--wit);
  margin: 0;
  padding: 0;
}


h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

button,
a,
input[type="submit"] {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: var(--blauw);
  color: #f9f9f9;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

.icon_knop_mini {
  width: fit-content;
  background-color: var(--wit);
  color: var(--zwart);
  transition-duration: 1s;
}

.icon_knop_mini:hover {
  background-color: var(--zwart);
  color: var(--wit);
}

.beneden {
  position: fixed;
  top: 1;
  bottom: 0;
  left: 0;
  right: 1;
}

a:hover,
button:hover,
input[type="submit"]:hover {
  background-color: var(--blauw2);
}

textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--grijs);
  border-radius: 5px;
}

select,
button {
  font-size: 1em;
}

/* Als de tekst te lang is, zorg ervoor dat het goed omgebroken wordt */
textarea,
select {
  word-wrap: break-word;
}

div {
  padding: 15px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

button,
a.weblink,
input[type="submit"] {
  padding: 8px 16px;
}

textarea,
input[type="text"],
input[type="password"] {
  background-color: var(--wit);
  color: var(--zwart);
  font-size: 0.9em;
  max-width: 40vw;
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid var(--grijs);
  font-family: Arial, sans-serif;
}

body {
  color: var(--zwart);

}

:root {
  --wit: #F8F9FA;
  --zwart: #000000;
  --grijs: #c4c4c4;
  --blauw: hsl(195, 83%, 45%);
  --blauw2: hsl(195, 88%, 53%);
}

.darkmode {
  --wit: #2B3036;
  --zwart: #f9f9f9;
  --grijs: #7d7d7d;
  --blauw: hsl(195, 79%, 40%);
  --blauw2: hsl(195, 78%, 49%);
}

.text_center {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vw;
}

.body {
  padding: 0;
  margin: 0;
}